body {
    width: 1000px;
    height: auto;
    margin: auto;
}


header {
    background-color:#919191;
    padding:5px;
    height: 20px;
    width: auto;
}
.profile {
    line-height:1px;
    background-color:#eeeeee;
    height:auto;
    width:200px;
    float:left;
    padding:5px;
    text-align: center;
}

.profile_pic {
    width: 170px;
    
}
.main_section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:#919191;
    clear:both;
    padding:5px;	 	
    height: 20px;
    width: auto;
}

.blue_bar_top {
    background-color: #7f8dc9;
    height: 20px;
}

.blue_bar_bot {
    background-color: #7f8dc9;
    height: 20px;
    clear:both;
}
