html {
    background: url(space_black.png);
    background-color: #000000;
    background-size: contain;
}

body {
    padding-top: 30px;
    text-align: center;
}


h2 {
    font-weight: 500;
    white-space: nowrap;
}

p {
    font-weight: 400;
}

.profile {
    display: none;
}

.john {
    background-color: white;
    position: relative;
    padding: 12px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 75px;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 #a0a0a0, 0 1px 1px 0 #a0a0a0;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 1px;
    word-spacing: 1px;
    opacity: .6;
    max-width: 972px;
}

.websites {
    background-color: white;
    position: relative;
    padding: 12px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 #a0a0a0, 0 1px 1px 0 #a0a0a0;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 1px;
    word-spacing: 1px;
    opacity: .6;
    max-width: 972px;
}

.websites h4 {
    margin: 0;
    font-weight: 400;
}

.home {
    background-color: white;
    position: relative;
    padding: 12px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 #a0a0a0, 0 1px 1px 0 #a0a0a0;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 1px;
    word-spacing: 1px;
    opacity: .6;
    max-width: 972px;
}

.home h4 {
    margin: 0;
    font-weight: 400;
}

.profile img {
    border-radius: 65px;
    border: 4px solid #ffffff;
    box-shadow: 0 1px 1px 0 #a0a0a0, 0 1px 1px 0 #a0a0a0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -100px;
    height: 125px;
    width: 125px;
    transition: transform 2s ease-in-out;
}

.profile:hover img{
    transform: rotateY(1440deg);
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    text-decoration: underline;
}

.site_list {
    text-align: center;
}

.site_1 {
    display: inline-block;
    text-align: left;
    line-height: 40px;

}

.site_2 {
    display: inline-block;
    text-align: left;
    line-height: 40px;
    margin-left: 100px;
}

.john h2 {
    margin-top: 45px;
}

.job {
    background-color: white;
    padding: 12px;
    display: inline-block;
    margin: 8px;
    margin-right: 0;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 #a0a0a0, 0 1px 1px 0 #a0a0a0;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 6px;
    word-spacing: 1px;
    opacity: .6;
    width: 324px;
    height: 940px;
    box-sizing: border-box;
}

.job h4 {
    margin: 0;
    font-weight: 400;
    line-height: 16px;
}

.ub {
    background-color: white;
    padding: 12px;
    display: block;
    margin: auto;
    margin-top: 8px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 #a0a0a0, 0 1px 1px 0 #a0a0a0;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 6px;
    word-spacing: 1px;
    opacity: .6;
    max-width: 972px;
    vertical-align: top;
}

.ub h4 {
    margin: 0;
    font-weight: 400;
}


.skills {
    background-color: white;
    padding: 12px;
    display: inline-block;
    margin: 8px;
    margin-right: 0;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 #a0a0a0, 0 1px 1px 0 #a0a0a0;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 16px;
    word-spacing: 1px;
    opacity: .6;
    width: 324px;
    height: 940px;
    vertical-align: top;
    box-sizing: border-box;
}

.skills h4 {
    margin: 0;
    font-weight: 400;
}

.certs {
    background-color: white;
    padding: 12px;
    display: inline-block;
    margin: 8px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 #a0a0a0, 0 1px 1px 0 #a0a0a0;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 16px;
    word-spacing: 1px;
    opacity: .6;
    width: 324px;
    height: 940px;
    vertical-align: top;
    box-sizing: border-box;
    
}

.certs h4 {
    margin: 0;
    font-weight: 400;
}

.logo_ub {
    height: 50px;
    width: 70px;
    border-radius: 3px;
}

.logo_fb {
    height: 40px;
    width: 40px;
}

.logo_nbcu {
    height: 40px;
    width: 50px;
}

.logo_sync {
    height: 40px;
    width: 40px;
    border-radius: 3px;
}

.logo_le {
    height: 40px;
    width: 40px;
    border-radius: 3px;
}

.logo_iab {
    height: 70px;
    width: 80px;
}

.logo_sa {
    height: 90px;
    width: 110px;
}

.logo_nyu {
    height: 62px;
    width: 92px;
}

.logo_skills {
    height:  60px;
    width: 60px;
    opacity: .7;
}

.logo_cert {
    height:  60px;
    width: 60px;
    opacity: .9;
}

.logo_work {
    height:  60px;
    width: 60px;
    opacity: .7;
}

.logo_edu {
    height:  50px;
    width: 80px;
    opacity: .7;
}

.nyc {
    display: inline-block;
    margin: auto;
    padding: 0;
}

.nyc_logo img {
    max-width: 280px;
    opacity: .7;
}

.gi {
    display: inline-block;
    margin: auto;
    padding: 0;
}

.gi_logo img {
    max-width: 100px;
}

.blo {
    display: inline-block;
    padding-top: 31px;
    margin: auto;
    padding: 0;
}

.blo_logo img {
    max-width: 280px;
    opacity: .7;
}

.title {
    font-family: Lucida Grande, Tahoma;
    color: #3b5998;
    font-size: 25px;
    font-weight: 800;
}

.logo_home {
    height: 50px;
    width: 60px;
    opacity: .7;
}

.logo_www {
    height:  40px;
    width: 40px;
    opacity: .9;
}