body {
    background: #000000;
    margin: 0;
} 

.link-title {
    text-decoration: none;
    font-size: 24px;
    color: #444444;
}

.page-heading {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 9px 13px 5px;
}

.header {
    padding: 45px 0 20px 40px;
}

.menu {
    background: #000000;
    padding: 6px 0 6px 40px;
}

.menu a {
    color: #e6e6e6;
    text-decoration: none;
    text-size: 14px;
    font-family: "Garamond", "Myriad Pro";
}

.menu a:hover {
    color: #bfbfbf;
}

aside {
    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
}

h1 {
    margin: 0px;
    color: #000000;
    font-size: 24px;
    font-family: "Garamond", "Myriad Pro";
    font-weight: 800;
}


.main {
    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0;
    color: #444444;
    font-family: "Garamond", "Myriad Pro";
    font-size: 13px;
    line-height: 18px;
    text-emphasis: justify;
}

.main a:hover {
    color: #444444;
    
}

#home-image img {
    width: 100%;
}

footer {
    padding: 6px 40px 6px 40px;
    background: #262626;
    font-family: "Garamond", "Myriad Pro";
    color: #e6e6e6;
    font-size: 11px;
    text-decoration: right;
}

footer a {
    text-decoration: none;
    color: #e6e6e6;
}

.separator {
    color: #FFFFFF;
    font-size: 11px;
}

/*About Page*/

#about-page #profile-image img {
    width: 20%;
    float: left;
    margin-bottom: 20px;
}

#about-page #profile-info {
    float: right;
    width: 75%;
    margin: 19px;
}

#about-page .description {
    clear: both;
}


/*Resume Page*/

#res_box {
    background-color: #aaaaaa;
}


.job_box {
    padding: 0px 10px 50px 30px;
    display: inline-block;
    background-color: #eaeaea;
}

.edu_box {
    padding: 0px 10px 50px 30px;
    display: inline-block;
    background-color: #eaeaea;

}

.res_icon {
    padding: 1px;
    display: inline-block;
    text-decoration: none; 
    margin-left: 500px;
}

.res_cat {
    display: inline-block;
    color: #919191;
    font-size: 25px;
}

hr {
    padding: 0px;
    margin: 0px;
  
}



