body {
    background: #aaaaaa;
    margin: 0;
} 

h2 {
    font-size: 30px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}

.link-title {
    text-decoration: none;
    font-size: 40px;
    color: #444444;
}

.page-heading {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 9px 13px 1px;
}

.header {
    padding: 45px 0 20px 40px;
}

.menu {
    background: #404040;
    padding: 6px 0 6px 40px;
}

.menu a {
    color: #e6e6e6;
    text-decoration: none;
    font-size: 30px;
    font-family: "Garamond";
}

.menu a:hover {
    color: #bfbfbf;
}

aside {
    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
}


.main {
    margin: 0px;
    padding: 0px;
}

#main-content {
    font-family: "Garamond";
    font-size: 30px;
    line-height: 90%;
    color: #313131;
    margin: 55px;
    padding: 0px;
}

.main a:hover {
    color: #444444;
    
}

#home-image img {
    width: 100%;
}

footer {
    padding: 6px 40px 6px 40px;
    background: #404040;
    font-family: "Garamond", "Myriad Pro";
    color: #e6e6e6;
    font-size: 30px;
}

footer a {
    text-decoration: none;
    color: #e6e6e6;
}

.separator {
    color: #FFFFFF;
    font-size: 11px;
}

h1 {
    margin: 0px;
    color: #000000;
    font-size: 24px;
    font-family: "Garamond";
    font-weight: 800;
    width: 300px;
}


/*About Page*/

#about-page #profile-image img {
    width: 20%;
    height: 250px;
    float: right;
    margin-top: 20px;
    margin-right: 19%;
    margin-bottom: 20px;
    border-radius: 12%;
    border: solid black;
}

#about-page #profile-info {
    margin-top: 30px;
    margin-left: 19%;
    display: inline-block;
    width: 35%;
    height: 250px;
    float: left;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px 5px #cecece;
}

#about-page .description {
    clear: both;
    font-family: "Garamond", "Myriad Pro";
    font-size: 30px;
    line-height: 90%;
    color: #313131;
    margin: 55px;
    padding: 0px;
}


/*Resume Page*/

#res_box {
    background-color: #aaaaaa;
}


.job_box_fb {
    margin-bottom: 8px;
    padding: 0px 10px 50px 30px;
    display: inline-block;
    background-color: #eaeaea;
    width: 70%;
    height: 250px;
    box-shadow: 10px 10px 5px #888888;
    text-shadow: 3px 3px 2px #cecece;
    border-radius: 7px;
    margin-left: 13%;
}

.job_box {
    margin-bottom: 6px;
    padding: 0px 10px 50px 30px;
    display: inline-block;
    background-color: #eaeaea;
    width: 70%;
    height: 250px;
    box-shadow: 10px 10px 5px #888888;
    text-shadow: 3px 3px 2px #cecece;
    border-radius: 7px;
    margin-left: 13%;
}

.edu_box {
    padding: 0px 10px 40px 30px;
    display: inline-block;
    background-color: #eaeaea;
    width: 70%;
    height: 250px;
    box-shadow: 10px 10px 5px #888888;
    text-shadow: 3px 3px 2px #cecece;
    border-radius: 7px;
    margin-left: 13%;
}

.res_icon {
    padding: 0px;
    height: 150px;
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 8%;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 15px;
}

.res_cat {
    display: inline-block;
    color: #3c2f2f;
    width: 20%;
    height: 30px;
    margin-left: 40%;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: #eaeaea;
    box-shadow: 10px 10px 5px #888888;
    text-shadow: 3px 3px 2px #cecece;
    border-radius: 7px;
    text-align: center;
    padding-bottom: 50px;
    border: solid #7b7b7b;
}



#edu_body {
    width: 60%;
    float: left;
    margin-top: 5%;
    margin-left: 2%;
}

.job_body_first {
    width: 60%;
    float: left;
    margin-top: 5%;
    margin-left: 2%
}

.job_body_rest {
    width: 70%;
    float: left;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.ticker {
    display: inline-block;
    height: 20px;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}
