body {
    background: #aaaaaa;
    margin: 0;
} 

.link-title {
    text-decoration: none;
    font-size: 40px;
    color: #444444;
}

.page-heading {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 1400px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 9px 13px 5px;
}

.header {
    padding: 45px 0 20px 40px;
}

.menu {
    background: #000000;
    padding: 6px 0 6px 40px;
}

.menu a {
    color: #e6e6e6;
    text-decoration: none;
    font-size: 30px;
    font-family: "Garamond";
}

.menu a:hover {
    color: #bfbfbf;
}

aside {
    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
}


.main {
    margin: 0px;
    padding: 0px;
}

#main-content {
    font-family: "Garamond", "Myriad Pro";
    font-size: 30px;
    line-height: 90%;
    color: #313131;
    margin: 55px;
    padding: 0px;
}

.main a:hover {
    color: #444444;
    
}

#home-image img {
    width: 100%;
}

footer {
    padding: 6px 40px 6px 40px;
    background: #262626;
    font-family: "Garamond", "Myriad Pro";
    color: #e6e6e6;
    font-size: 11px;
    text-decoration: right;
}

footer a {
    text-decoration: none;
    color: #e6e6e6;
}

.separator {
    color: #FFFFFF;
    font-size: 11px;
}

h1 {
    margin: 0px;
    color: #000000;
    font-size: 24px;
    font-family: "Garamond";
    font-weight: 800;
    width: 300px;
}


/*About Page*/

#about-page #profile-image img {
    width: 20%;
    float: right;
    margin-top: 20px;
    margin-right: 105px;
    margin-bottom: 20px;
    border-radius: 12%;
    border: solid black;
}

#about-page #profile-info {
    margin-top: 100px;
    margin-left: 105px;
    display: inline-block;
    width: 60%;
    float: left;
    font-size: 30px;
}

#about-page .description {
    clear: both;
    font-family: "Garamond", "Myriad Pro";
    font-size: 30px;
    line-height: 90%;
    color: #313131;
    margin: 55px;
    padding: 0px;
}


/*Resume Page*/

#res_box {
    background-color: #aaaaaa;
}


.job_box {
    padding: 0px 10px 50px 30px;
    display: inline-block;
    background-color: #eaeaea;
    width: 70%;
}

.edu_box {
    padding: 0px 10px 40px 30px;
    display: inline-block;
    background-color: #eaeaea;
    width: 70%;

}

.res_icon {
    padding: 2px;
    display: inline-block;
    float: right;
    margin-right: 7%;
    margin-top: 14%;
    
}

.res_cat {
    display: inline-block;
    color: #919191;
    font-size: 25px;
    float: top;
    width: 30%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 60px;
}

hr {
    padding: 0px;
    margin: 0px;
  
}

#edu_body {
    width: 60%;
    float: left;
    margin-top: 5%;
}

.job_body_first {
    width: 60%;
    float: left;
    margin-top: 5%;
}

.job_body_rest {
    width: 70%;
    float: left;
    margin-top: 15%;
    margin-bottom: 2%;
}

.ticker {
    display: inline-block;
    height: 20px;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}
